 html, body {
        height: 100%;
        margin: 0;
        padding: 0;
}
#map {
	height: calc(100% - 78px);
	width: 100%;
	top: 0px;
	z-index: 10;
}
#play-ground{
	background-color: #2e6ca3;
}
.canvas-container {
	margin:0 auto;
}
#fd-title{
	margin: 3rem 0;
}
/* unset bs3 setting */
.modal-open {
 overflow: auto; 
}
#demo-pic{
	width: 100%;
}
.thumb {
    border: 1px solid #000;
    margin: 10px 5px 0 0;
  }
.listelement{
	text-align: center;
}
#list {
    position: fixed;
    right: 0px;
    top: 51px;
    overflow-y: scroll;
    height: calc(100% - 50px);
    background-color: white;
    padding: 5px;
}
nav#locationHistory {
    margin-bottom: 0px;
}
div#search {
    top: 9px;
    position: relative;
    padding: 9px 10px;
}
#locationHistory,#scroll{
	z-index: 100;
}
#scroll{
	margin-bottom: 10px;
    margin-top: 20px;
}